<h1 class="title1">Log in</h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <div class="field">
    <p><%= f.label :email %></p>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <p><%= f.label :password %></p>
    <%= f.password_field :password %></br>
  </div>
  <%= f.submit "Log in" %>
<% end %>
