<div class="container">
  <!-- <p><%= notice %></p> -->

  <div class="row">
    <% @blogs.each do |blog| %>
      <div class="col-xs-12 col-sm-offset-1 col-sm-5 col-md-offset-1 col-md-3 panel panel-success">
        <div class="panel-heading">
          <%= blog.title %>
        </div>
        <div class="panel-body">
          <p>
            <strong>投稿者:</strong>
            <%= blog.user.name %>
          <p>
          <%= blog.content %></div>
          <%= image_tag blog.image %>
        <div class="blog-links">
          <%= link_to '詳細', blog_path(blog.id), class: 'btn btn-default' %>
          <% if logged_in? %>
            <% if blog.user_id == current_user.id%>
              <%= link_to "編集", edit_blog_path(blog.id), class: 'btn btn-info', data: { confirm: '本当に編集していいですか？' } %>
              <%= link_to '削除', blog_path(blog.id), method: :delete, data: { confirm: '本当に削除していいですか？' }, class: 'btn btn-danger' %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
