<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <li class="left"><%= link_to 'トップページ', "/" %></li>
        <li class="left"><%= link_to 'ツイート一覧', blogs_path %></li>
        <li class="left"><%= link_to 'メッセージ', new_contact_path %></li>

        <% if logged_in? %>
          <!-- ログインしている場合 -->
          <% if @user.image %>
            <li class="right"><%= image_tag @user.image, :size => "45x45" %></li>
          <% else %>
            <li class="right"><%= image_tag 'twitterclone_icon.png', :width => '60' %></li>
          <% end %>
          <li class="label label-danger right"><%= link_to 'ツイート', new_blog_path %></li>
          <li class="label label-warning right"><%= link_to "プロフィール", user_path(current_user.id) %></li>
          <li class="label label-success right"><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
        <% else %>
          <!-- ログインしていない場合 -->
          <li class="label label-warning right"><%= link_to "登録", new_user_path %></li>
          <li class="label label-success right"><%= link_to "ログイン", new_session_path %></li>
        <% end %>
      </ul>
    </header>
    <div class="container">
      <% flash.each do |key, value| %>
        <p><%= content_tag(:div, value, class: "#{key}") %></p>
      <% end %>

      <%= yield %>

    </div>
    <footer>
      <p>課題作成中</p>
      <p>© 2018 TwitterClone</p>
    </footer>

  </body>
</html>
